# Virtual environment
venv/
.venv/

# === Frontend (Vite/React) ===

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# === Backend (Flask/Python) ===

backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/instance/
backend/*.sqlite3
backend/*.db
backend/.env
backend/.env.prodution

# Flask specific
backend/*.pid

# === Logs ===
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# === Editor & OS Files ===

.vscode/
!.vscode/extensions.json
.idea/
.DS_Store

# Windows files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# === Git ===
*.orig

